.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 520px;
  min-height: 600px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 75px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  background-color: #faf9f5;
}
